:root {
    --mainLabel1_color: rgb(230, 0, 0);
}

.div0 {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

.textWrapper {
    
}

.mainLabel {
    font-size: xx-large;
    font-weight: 600;
}

.mainLabel1 {
    color: var(--mainLabel1_color);
    font-size: x-large;
    font-weight: 600;
    margin-top: 20px;
}

.textUl {
    margin-top: 15px;
    list-style-type: decimal;
}

.blueText {
    color: rgb(0, 189, 164);
    display: inline;
}

.redText {
    color: var(--mainLabel1_color);
    display: inline;
}

.div0_div0 {
    margin-left: 25px;
    min-width: 200px;
}

.div0_div0_div0 {
    font-size: larger;
    font-weight: 600;
}

.div0_div0_a0 {
    display: block;
    text-decoration: none;
    color: black;

    transition: color .2s;
}

.div0_div0_a0:hover {
    color: darkcyan;
}