.div {
    margin-top: 25px;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}

.div0 {
    background-color: black;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100px;
}

.div1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.div1_input {
    background-color: rgb(226, 226, 226);
    border: none;
    font-size: medium;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
}

.div1_div {
    display: flex;
}

.div1_div_button {
    background-color: black;
    border: 1px solid black;
    color: white;
    margin-top: 15px;
    margin-left: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
    text-transform: uppercase;

    transition: all .2s;
}

.div1_div_button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.div1_div_button0 {
    transition: all .2s;
}

.div1_div_button-modifier {
    background-color: white;
    border: 1px solid white;
    color: black;
    margin-left: 15px;
    margin-right: auto;
}

.div1_div_button0:hover {
    color: rgb(0, 140, 255);
    cursor: pointer;
}