.div {
    margin-top: 25px;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}

.div0 {
    background-color: black;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100px;
}

.div1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.div1_input {
    background-color: rgb(226, 226, 226);
    border: none;
    font-size: medium;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
}

.div1_input--margin-top {
    margin-top: 15px;
}

.div1_div {
    margin-left: auto;
    margin-right: auto;
}

.div1_div_input {
    margin-top: 15px;
}

label {
    display: inline-block;
}

.div1_text {
    color: gray;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
}

.div1_text_text {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

.div1_button {
    background-color: black;
    border: 1px solid black;
    color: white;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 200px;
    text-transform: uppercase;
}

.div1_button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}