.div0 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

.div0_div0 {
    width: calc(100% - 350px - 25px);
}

.div0_div0_div0 {
    font-weight: 600;
    font-size: larger;
    margin-left: 15px;
}

.div0_div0_hr0 {
    margin-left: 0px;
}

.div0_div0_div1 {
    font-size: large;
    margin-left: 15px;
}

.div0_div1 {
    width: 350px;
    margin-left: auto;
    margin-top: 15px;
}

.div0_div1_div0 {
    font-weight: 600;
    font-size: larger;
    margin-left: 15px;
}

.div0_div1_div1 {
    display: flex;
    margin-top: 15px;
}

.div0_div1_div1_div0 {
    font-size: medium;
    font-weight: 600;
    margin-left: 15px;
}

.div0_div1_div1_div1 {
    color: red;
    margin-left: auto;
    font-size: medium;
    font-weight: 600;
}

.div0_div1_hr0 {
    margin-top: 15px;
}

.div0_div1_ul0 {

}

.div0_div1_ul0_li0 {

}

.div0_div1_button {
    background-color: gray;
    border: none;
    color: white;
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 35px 10px 35px;
    width: 100%;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 1000px) {
    .div0_div0 {
        width: 100%;
    }

    .div0_div1 {
        width: 100%;
        margin-left: 0px;
    }
}