.flexWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
}

.productImageWrapper {
    background-color: whitesmoke;
    height: 670px;
    overflow: hidden;
    position: relative;
    width: 500px;
}

.productImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;

    transition: left .5s;
}

.productImageWrapper_div0 {
    opacity: 0;

    transition: opacity .2s;
}

.productImageWrapper_div0_button0 {
    --height: 50px;

    background-color: black;
    border: none;
    border-radius: calc(var(--height)/2);
    color: white;
    font-size: larger;
    font-weight: 600;
    position: absolute;
    height: var(--height);
    left: 0px;
    top: calc(50% - var(--height)/2);
    width: var(--height);
}

.productImageWrapper_div0_button1 {
    left: auto;
    right: 0px;
}

.productImageWrapper_div0_div0 {
    background-color: black;
    bottom: 0px;
    border-radius: 5px;
    left: calc(50% - 50px/2);
    position: absolute;
    width: 50px;
}

.productImageWrapper_div0_div0_div0 {
    color: white;
    font-size: large;
    text-align: center;
}

.detailsAndFunctions {
    margin-left: 25px;
}

.productName {
    font-size: x-large;
    font-weight: 700;
    margin-top: 25px;
}

.studioNameWrapper {
    margin-top: 10px;
}

.studioName {
    font-weight: 600;
}

.studioName_display {
    display: inline-block;
}

.price {
    color: red;
    font-weight: 600;
    font-size: xx-large;
    margin-top: 10px;
}

.addToCartButton {
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 50px;
    font-weight: 600;
    font-size: medium;
    margin-top: 10px;
    width: 400px;
    text-align: center;

    transition: all .2s;
}

.addToCartButton:hover {
    --border-color: darkcyan;
    border-color: var(--border-color);
    background-color: var(--border-color);
    cursor: pointer;
}

.informationBoxWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.leftInformationBox {
    background-color: whitesmoke;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 250px;
    text-align: center;
    padding: 25px 25px 25px 25px;
}

.leftInformationBox_font-weight {
    font-weight: 600;
}

.informationBoxText {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.rightInformationBox {
    margin-left: 10px;
}

.productInformationLabelText {
    
}

.productInformationLabelText_margin-top {
    margin-top: 25px;
}

.productInformationLabelText_text-transform {
    text-transform: uppercase;
}

.preOrderText {
    
}

.productInformationName {

}

.productInformationText {

}

.productInformationText_marginTop {
    margin-top: 5px;
}

.productInformationStudioName {
    
}

.productInformationScale {

}

.productInformationPrice {

}

.productInformationDeposit {

}

.productInformationReleaseDate {
    
}

.productInformationNote {
    
}

.ruler {
    
}

.shipServiceBox {
    display: flex;
    height: 50px;
    margin-top: 10px;
}

.shipServiceIcon_margin {
    margin-bottom: auto;
    margin-left: 10px;
    margin-top: auto;
}

.shipServiceBoxText {
    
}

/* RESPONSIVE RULES */
@media screen and (max-width: 1181px) {
    .productImageWrapper {
        height: 67vw;
        width: 90vw;
    }
}

@media screen and (max-width: 684px) {
    .leftInformationBox {
        margin-right: 10px;
    }

    .rightInformationBox {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 550px) {
    .detailsAndFunctions {
        margin-left: 0px;
    }
}

@media screen and (max-width: 450px) {
    .addToCartButton {
        width: 250px;
    }
}

@media screen and (max-width: 340px) {
    .leftInformationBox {
        width: 200px;
    }

    .rightInformationBox {
        width: 200px;
    }
}